
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <button type="button" onclick="location.href='@Url.Action("","Exe", new {id="enrollment"})'" >Register</button>
        <button type="button" onclick="location.href='@Url.Action("","Exe", new {id="verfication"})'">Verify</button>
    </div>
</body>
</html>
